<!-- week-buttons.html -->
<section class="week-buttons display-center">
  <div class="display-flex-center">
    <a class="button" href="./week00.html">00</a>
  </div>
  <div class="display-flex-center">
    <a class="button" href="./week01.html">Ene</a>
    <a class="button" href="./week02.html">Feb</a>
    <a class="button" href="./week03.html">Mar</a>
    <a class="button" href="./week04.html">Abr</a>
    <a class="button" href="./week05.html">May</a>
    <a class="button" href="./week06.html">Jun</a>
  </div>
  <div class="display-flex-center">
    <a class="button" href="./week07.html">Jul</a>
    <a class="button" href="./week08.html">Ago</a>
    <a class="button" href="./week09.html">Sep</a>
    <a class="button" href="./week10.html">Oct</a>
    <a class="button" href="./week11.html">Nov</a>
    <a class="button" href="./week12.html">Dic</a>
  </div>
</section>

<style>
  .week-buttons .button {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 3px;
    padding: 0px;
    background-color: #999;
    font-weight: 500;
  }

  .week-buttons .button:hover {
    background-color: green;
  }

  .week-buttons .button.active {
    background-color: green;
    color: white;
  }
</style>