@import url(./assets/css/toggle-password.css);
@import url(./assets/css/validation.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

:root {
    --clr-1: #052b2f;
    --clr-2: #073438;
    --clr-3: #0e4b50;
    --clr-4: #2d8f85;
    --clr-5: #637c54;
    --bg-color: #fff;
}

.color-primary {
    color: #0ef;
}

.color-dogderblue {
    color: dodgerblue;
}

.color-gold {
    color: gold;
}

.color-gray {
    color: #333;
}

.color-red {
    color: crimson;
}

.color-white {
    color: #fff;
}

.display-center {
    display: grid;
    place-items: center;
}

.display-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*============================*/
body {
    min-height: 100vh;
    background: #ececec;
}


/* Index - Login Box */
.card {
    position: absolute;
    aspect-ratio: 1 / 1;
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 2px, solid #ccc;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

.title {
    color: dodgerblue;
    font-size: 1.5em;
    text-align: center;
    font-weight: 600;
}

.index h6 {
    color: #666;
    font-size: 1.2em;
    font-weight: 500;
}

.auth p {
    text-align: center;
    margin-top: 1em;
    font-size: 1.em;
    font-weight: 500;
    color: #333;
}

.auth .btnClose {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: 1.5em;
    color: #333;
    font-weight: 500;
    background-color: #fff;
}

.auth .btnClose:hover {
    background-color: gold;
    border-radius: 10px;
    transition: 1.5s;
}

.auth .input-box {
    margin-top: 20px;
}

.auth-card {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 2px, solid #ccc;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.auth-card h2 {
    margin-top: 10px;
    margin-bottom: -10px;
}

.bg-transparent {
    background: transparent;
}

.container {
    position: absolute;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .btn {
    margin-top: 10px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.login-box {
    position: absolute;
    width: 200px;
}

.login-box form {
    width: 100%;
    padding: 0 10px;
}

.input-box {
    display: flex;
    position: relative;
    margin: 10px 0;
}

.input-box input {
    width: 100%;
    height: 45px;
    background: #fff;
    border: 2px solid dodgerblue;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    right: 50px;
    color: dodgerblue;
    padding: 0 30px;
    transition: 0.5s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: dodgerblue;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -15px;
    font-size: .8em;
    background: white;
    border: 2px dodgerblue solid;
    padding: 0 6px;
    color: dodgerblue;
    transition: 0.5s ease;
}

.input-box #mail-icon, #lock-icon {
    position: absolute;
    left: 10px;
    color: dodgerblue;
}

.input-box label {
    position: absolute;
    top: 25%;
    left: 40px;
    transform: transparentY(-50%);
    font-size: 1em;
    font-weight: 400;
    color: dodgerblue;
    pointer-events: none;
    transition: 0.3s ease;
    border: 5px;
    border-radius: 5px;
}

.btn {
    width: 100%;
    height: 45px;
    background: dodgerblue;
    border: 2px solid #666;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.registerLink {
    margin: 10px 0 10px;
padding: 10px;
}

.registerLink a {
    margin:0 0 16px;
    padding: 5px;
    color: dodgerblue;
    font-size: 1em;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;

}

.heigth-90vh {
    height: 85vh;
    width: 350px
}

label {
    color: #333;
    font-weight: 500;
}



/* Mensajes de SignIn */
.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 0.5em;
  }
  
  .success-message {
    color: green;
    font-size: 1em;
    margin-top: 1em;
  }
  