<!-- nav-header.html -->
<header class="nav-header">
    <h3 class="logo">Administrativo</h3>
    <section class="dropdown-section">
        <!-- Dropdown - Tableros -->
        <div class="dropdown">
            <a class="button dropdown-toggle" data-bs-toggle="dropdown"> Menú </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="./index.html">Inicio</a></li>
                <li>Tablero</li>
                <li><a class="dropdown-item" href="./tableros/chorrera/1-lunes/index.html">* en Chorrera -> Autopista</a></li>
                <li><a class="dropdown-item" href="./tableros/panama/1-lunes/index.html">* en Panamá -> Autopista</a></li>
                <li><a class="dropdown-item" href="./tableros/camino/1-lunes/index.html">* en Panamá -> Camino</a></li>
                <li>Personal</li>
                <li><a class="dropdown-item" href="./personal/administrativo/index.html">* AFC</a></li>
                <li><a class="dropdown-item" href="./personal/conductores/index.html">* Conductores</a></li>
                <li><a class="dropdown-item" href="./personal/secretarios/index.html">* Secretarios</a></li>
                <li><a class="dropdown-item" href="#">* Reglas Generales (inactivo)</a></li>
            </ul>
        </div>
    </section>
</header>
