/* Estilo para ocultar el contenido de la tabla */
.oculto {
    display: none;
}

/* Table */
.tabla-personas tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabla-personas tr:hover {
    background-color: #ddd;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: dodgerblue;
}

a:hover {
    color: #ff9900;
}
.table {
    border-collapse: collapse;
    table-layout: fixed;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Esto ayuda a alinear los elementos verticalmente */
  }

.semana-select, .estado-select, .pay-select {
    width: 10px;
}

table td:nth-child(1),
table th:nth-child(1) {
    width: 50px;
}
table td:nth-child(2),
table th:nth-child(2) {
    width: 120px;
}
table td:nth-child(3),
table th:nth-child(3) {
    width: 180px;
}
table td:nth-child(4),
table th:nth-child(4) {
    width: 180px;
}

table td:nth-child(5),
table th:nth-child(5) {
    width: 160px;
}
table td:nth-child(6),
table th:nth-child(6) {
    width: 160px;
}
table td:nth-child(7),
table th:nth-child(7) {
    width: 160px;
}
table td:nth-child(8),
table th:nth-child(8) {
    width: 160px;
}
table td:nth-child(9),
table th:nth-child(9) {
    width: 160px;
}
table td:nth-child(10),
table th:nth-child(10) {
    width: 160px;
}
table td:nth-child(11),
table th:nth-child(11) {
    width: 150px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    color: #666;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: 500;
}

.section-rules p {
    margin: 10px 20px 10px 20px;
}

/* Botones */
#delete-board-button {
    background-color: red;
}

#downloadToExcel {
    background-color: green;
}

/* Footer*/
footer {
    margin: 0.5em;
}
