@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';
@import './table.css';
@import '../../assets/css/week-buttons.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    background-color: white;
    height: 100%;
}
.bg-green {
    background-color: green;
    color: white;
    font-weight: 500;
}
.bg-red {
    background-color: red;
}

.bg-white {
    background-color: #fff
}

.border-red {
    border: 1px solid red;
}

.button {
    display: inline-block;
    padding: .75em 1.5em;
    background: #666;
    color: #fff;
    border-radius: .5em;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin: 20px;
}

.color-dark-gray {
    color: #333;
}

.color-dodgerblue {
    color: dodgerblue;
}

.color-gray {
    color: #666
}

.color-red {
    color: red
}

.color-white {
    color: #fff;
}


.display-center {
    display: grid;
    place-items: center;
}

.display-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-none {
    display: none;
}

.fs-xl {
    font-size: x-large
}

.fs-xxl {
    font-size: xx-large
}

.img {
    width: 100%;
    border-radius: 5px;
}

.mg-05em {
    margin: .5em;
}

.select-hidden {
    display: none;
    /* Ocultar el select */
}

.text-center {
    text-align: center;
}

.text-nodeco {
    text-decoration: none;
}

.width-auto {
    width: auto;
}

/* Sticky Form */
.title {
    position: sticky;
    top: 0;
}

.title-container {
    background-color: white;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px 0 0 0;
}

.title form {
    margin: 10px;
    justify-content: center;
}

.title input,
.title select {
    width: 130px;
    height: 30px;
    margin: 5px;
    border: 1px solid #333;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
}

.title .estado-select {
    color: #333;
    font-size: 15px;
    padding: 0;
}

.title button {
    margin: 5px;
    padding: 0;
    width: 130px;
    height: 30px;
    background-color: green;
    color: white;
}

.title a {
    font-size: 1.5em;
    font-weight: 500;
    border: 1px solid #999;
}

/* Header */
header {
    padding: 20px;
}


/* Pagination*/
.pagination {
    padding: 0;
    margin: -1em 1em -1em 1em;
}

.pagination ul {
    color: transparent;
    width: auto;
    padding: 10px;
    height: 40px;
    margin-top: 18px;
}

ul li {
    margin: 1px;
}

ul li.pageNumber {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 0.8em;
    font-weight: 500;
}

ul li a {
    display: block;
    color: #333;
    font-weight: 500;
    border-radius: 50%;
    text-decoration: none;
}

ul li.pageNumber:hover a,
ul li.pageNumber.active a {
    background: #333;
    color: #fff;
    text-decoration: none;
}

ul li.pageNumber.active a {
    background: green;
    color: #fff;
}

.pagination #scrollToBottomBtn,
#scrollToTopBtn {
    color: #333;
    border: none;
    font-size: 2em;
}


.pagination select {
    height: 40px;
    width: fit-content;
    font-size: 1em;
    font-weight: 500;
    padding: 0 2em 0 1em;
    text-align: start;
}

.input-group {
    width: 90%;
    margin-bottom: 1em;
}
#searchInput {
    width: 100px;
    height: 40px;
}
#searchButton {
    width: auto;
    height: 40px;
    padding: 0 10px 0 10px;
}

/* Middle section */
#middleSection {
    padding: 20px;
    margin: 0;
    width: 300px;
}

#middleSection ion-icon{
    font-size: 2em;
    color: green;
 
}
h1 {
    font-weight: 500;
    font-size: 1.2em;
    margin: 15px;
    text-align: center;
    color: #333;
}



/*===== ===== ===== Card ===== ===== =====*/
.card {
    width: 380px;
    padding: 20px;
    border: 2px, solid #ccc;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.card img,
.photo {
    width: 100%;
    border-radius: 10px;
}

.card h2 {
    margin-top: auto;
    font-size: 20px;
}

.card p {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}

.card-2 {
    max-width: 600px;
    padding: 20px;
    margin: 20px;
    border: 2px, solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

/* Modal */
/* Modal */
#confirmationModal {
    display: none;
    position: fixed;
    top: 50px;

}

.modal {
    background-color: #fff;
    height: 80%;
}

.modal .modal-header {
    text-align: center;
    margin-bottom: .5em;
}

.modal .modal-content {
    width: 100%;
    background-color: transparent;
    border: 1px solid;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    padding: 1em;
    margin: 0;
}

.modal-title {
    font-size: 1.5em;
    font-weight: 500;
    color: #007bff;
}

.modal #confirm-delete {
    background-color: red;
    font-weight: 500;
    font-size: 1em;
}

.modal #cancel-delete {
    background-color: dodgerblue;
    font-weight: 500;
    font-size: 1em;
}

.modal .footer {
    margin-top: 0px;
    background-color: transparent;
}

/* Main */
.main-content {
    display: flex;
    margin: 1em;
    justify-content: center;
    align-items: center;
}

.main-container {
    padding: 2rem 3rem;
    overflow: auto;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    overflow-y: auto;
    display: block;
    background-color: white;
}
